h3{
text-align: center;
}
.col-xs-12 .col-sm-6  .col-md-6 .col-lg-42{
float: left;
}
.nav{
    background-color: rgba(18, 190, 27, 0.596);
   
}
.section1{
background-color: rgb(149, 223, 200);
}
.text-center{
font-weight: bolder;
padding-top: 5px;
}
